html{
  background-image: url("../fondofeed.jpg");
  background-attachment: fixed;
}

.barra{
  -webkit-box-shadow: -1px 9px 17px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 9px 17px -15px rgba(0,0,0,0.75);
  box-shadow: -1px 9px 17px -15px rgba(0,0,0,0.75);
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.logo{
  width: 110px !important;
  margin-left: 100px;
}

.busqueda{

  margin-left: auto !important;
  margin-right: auto !important;
  padding-right: 13px;
  margin-top: 9px;
}

.form-control{
  text-align: center !important;
  height: calc(2.19rem - 4px) !important;
}
.navbar{
  display: block !important;

}

.boton-login{
  text-align: center !important;
  margin-right: 90px;
  margin-top: 10px;
  height: 32px !important;
  border-radius: 15px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #bc59d7 !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 11px;
  -webkit-box-shadow: 2px 9px 26px -6px rgba(188,89,215,1);
-moz-box-shadow: 2px 9px 26px -6px rgba(188,89,215,1);
box-shadow: 2px 9px 26px -6px rgba(188,89,215,1);
}

.btn-donar{
  text-align: center !important;
  margin-left: 55%;
  margin-top: 0px;
  height: 32px !important;
  border-radius: 15px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #bc59d7 !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 11px;
  -webkit-box-shadow: 2px 9px 26px -6px rgba(188,89,215,1);
  -moz-box-shadow: 2px 9px 26px -6px rgba(188,89,215,1);
  box-shadow: 2px 9px 26px -6px rgba(188,89,215,1);
}

.perfil{
  height: 40px;
  border-radius: 40px;
  margin-right: 20px;
  margin-top: 5px;
}

.perfil-tarjeta{
  height: 35px;
  border-radius: 40px;
  margin-left: 40px;
  margin-top: 6px;
}

.derecha{
  float: right;
  margin-top: 80px;
  background-color: gray !important;
  width: 42%;
  height: 100%;

}

.izquierda{
  float: left;
  width: 58%;
  height: 700px;
  margin-top: 90px;
}

.tarjeta{
  margin-left: 140px;
  width: 540px !important;
  border-radius: 7px;
  margin-top: 20px;
  margin-bottom: 40px;
  -webkit-box-shadow: 2px 5px 20px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 5px 20px -11px rgba(0,0,0,0.75);
box-shadow: 2px 5px 20px -11px rgba(0,0,0,0.75);
}

.user{
  font-size: 15px;
  font-weight: bold;
  margin-left: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.negro{
  color: black;
}

.fa{
  font-size: 23px !important;
}

.fa-heart-o {
  color: gray;
  cursor: pointer;
}

.fa-heart {
  color: #ff5e5e;
  cursor: pointer;
}

.likes-number{
  margin-left: 10px;
  margin-top: 4px;
  margin-bottom: 7px;
}

#heart{
  margin-left: 15px;
  margin-top: 4px;
}

.hashtag{
  margin-left: 1px;

}

p{
  margin-bottom: 3px;
}

.busqueda-veter{
  position: fixed;
  margin-top: 40px;
  width: 387px !important;
  height: 60px;
  -webkit-box-shadow: 2px 5px 20px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 5px 20px -11px rgba(0,0,0,0.75);
box-shadow: 2px 5px 20px -11px rgba(0,0,0,0.75);
}


.tarjeta-veter{
  position: fixed;
  margin-top: 120px;
  width: 387px !important;
  -webkit-box-shadow: 2px 5px 20px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 5px 20px -11px rgba(0,0,0,0.75);
box-shadow: 2px 5px 20px -11px rgba(0,0,0,0.75);
}


.subtarjeta{
  width: 100%;
  height: 80px;
}

.body-tarj-veter{
  padding: 0px !important;
}

.card-img{
  width: 60px;
  margin-top: 10px;
  margin-left: 20px;
}

.titulo-veter{
  color: #5ea6ff;
  font-weight: bold;
}

.stars{
  height: 20px;
}

.card-title{
  margin-bottom: 0px;
}

.btn-ver{
  text-align: center !important;
  margin-left: 0%;
  margin-top: 0px;
  height: 32px !important;
  border-radius: 15px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #bc59d7 !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 11px;
  -webkit-box-shadow: 2px 9px 26px -6px rgba(188,89,215,1);
  -moz-box-shadow: 2px 9px 26px -6px rgba(188,89,215,1);
  box-shadow: 2px 9px 26px -6px rgba(188,89,215,1);
}

.mb-3{
  margin-bottom:  0px !important;
}

.busqueda-logo{
  margin-left: 17px;
  margin-top: 10px;
  width: 45%;
}

a{

}

a:hover{
  color: blue;
  text-decoration: none;
}

.banner{
  width: 385px;
  height: 70px;
}

.inferior{
  visibility: collapse;
}


@media screen and (min-width: 320px) and (max-width: 480px) {

  html{
    background-color: #ecf0f6;
    background-image: none;
  }

  .card-img-top {
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-shadow: -1px 8px 19px -7px rgba(0,0,0,0.45);
  -moz-box-shadow: -1px 8px 19px -7px rgba(0,0,0,0.45);
  box-shadow: -1px 8px 19px -7px rgba(0,0,0,0.45);
    width: 94%;
  }

  .barra{
    height: 60px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0px;
    -webkit-box-shadow: -1px -2px 19px -7px rgba(0,0,0,0.34);
    -moz-box-shadow: -1px -2px 19px -7px rgba(0,0,0,0.34);
    box-shadow: -1px -2px 19px -7px rgba(0,0,0,0.34);
  }

  .boton-login{
    margin-right: 0px;
    visibility: collapse;
  }

  .perfil{
    visibility: collapse;
  }

  .logo{
    width: 92px !important;
    margin-left: 10px;
    margin-top: 5px;
  }

  .derecha{
    visibility: collapse;
  }

  .izquierda{
    width: 100%;
    margin-top: 70px;
  }

  .tarjeta{
    width: auto !important;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 17px;
    border: 0px;
    margin-bottom: 10px;
  }

  .btn-donar{
    margin-left: 33%;
    margin-top: -2px;
  }

  .row{
    margin-right: 0px;
    margin-left: 0px;
  }

  .perfil-tarjeta{
    margin-left: 20px;
    height: 32px;
  }

  .likes-number{
    margin-left: 7px;
    font-size: 12px;
    margin-top: 7px;
  }

  .card-body{
    margin-top: -5px;
  }

  .card-text{
    font-size: 13px;
  }

  .hashtag{
    font-size: 13px;
    color:
  }

  .a:hover{
    text-decoration: underline;
  }

  #heart{
    margin-left: 0px;
  }

  .inferior{
      visibility: visible;
    background: white;
      position:fixed;; /*El div será ubicado con relación a la pantalla*/
      left:0px; /*A la derecha deje un espacio de 0px*/
      right:0px; /*A la izquierda deje un espacio de 0px*/
      bottom:0px; /*Abajo deje un espacio de 0px*/
      height:55px; /*alto del div*/
      z-index:3;
      -webkit-box-shadow: 0px 7px 19px -1px rgba(0,0,0,0.58);
      -moz-box-shadow: 0px 7px 19px -1px rgba(0,0,0,0.58);
      box-shadow: 0px 7px 19px -1px rgba(0,0,0,0.58);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .form-control{
      margin-top: 0px;
      margin-left: 30%;
      margin-left: 37%;
      width: 70%;
      text-align: right !important;
      border-radius: 20px;
    }

    .user{
      font-size: 13px;
    }

    .btn-subir{
      display:block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      height: 37px !important;
      border-radius: 18px;
      padding-right: 8px;
      padding-left: 8px;
      background-color: #bc59d7 !important;
      width: 50px;
      margin-top: 10px;
    }

    .mas{
      width: 22px;
    }

    .home{
      width: 27px;
display: block;
margin-top: -30px;
margin-left: 20%;
    }

    .perro{
      width: 24px;
display: block;
margin-top: -26px;
margin-left: 73%;
    }
}
